.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.clear {
  background-color: white;
  padding: 15px 25px;
  border-radius: 0.5rem;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .clear_button {
    background: none;
    border: none;
    color: #3c50e0;
    font-size: 16px;
    cursor: pointer;
  }
}
